ts_parser.egg-info/SOURCES.txt
ts_parser.egg-info/PKG-INFO
ts_parser.egg-info/top_level.txt
ts_parser/__pycache__/parser.cpython-314.pyc
ts_parser/__pycache__/__init__.cpython-314.pyc
ts_parser.egg-info/dependency_links.txt
